.container {
    display: flex;
    background-color: white;
    height: 100%;
    .container_sidebar {
        width: 30%;
        background-color: #f5f7f8;
        padding: 20px;
    }
    .container_main {
        /* Take the remaining width */
        flex: 1;
        /* Make it scrollable */
        overflow: auto;
        padding: 20px;
        .steps {
            .header {

            }
            .content {
                height: 30vh; /* Magic here */
                display: flex;
                justify-content: center;
                align-items: center;
                .step-1{
                    
                }
            }
        }
    }
}



